  .cities{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 30px;
    background-color: white;
    border-top: 1px dotted lightgrey;
    padding: 30px;
    width: 100%;
  }
  .citytitle{
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
    color: black;

  }
  .cityname{
    float: left;
    font-size: 14px;
    padding-left: 10px;
    color: black;

  }
  .city-name{
    display: inline;
    color: black;

  }
  @media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 900px)  {
    .cities{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      height: 80px;
      background-color: white;
      border-top: 1px dotted lightgrey;
    }
    .citytitle{
      float: left;
      font-size: 14px;
      font-weight: bold;
      padding-left: 30px;
      padding: 10px;
      color: black;
      height: 30px;
      width: 100%;
    }
    .cityname{
      float: left;
      font-size: 14px;
      padding: 10px 0 5px 30px;
      color: black;
    }
  }