html, body {
  height: 100%;
}
.row-brand::after {
  content: "";
  clear: both;
  display: block;
  padding-left:80px;
}
.colu-5 {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-decoration: none;
  padding-left: 120px;
}
.divider-space{
  padding-top: 30px;
}
.heading{
  margin: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  text-align: center ;
}
.home-heading{
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  text-align: center ;
  padding: 60px 0px 20px 0;
}
.home-position {
  position: relative;
  margin-top: 40px;
}
.heading-border{
  height: 30%;
  border-bottom:1px dotted #666666;
  margin-left: 25%;
  margin-right: 25%;
}

.maincontent{
  width: 100%;
  display: flex;
  align-items: center;
}
.brand-name {
  border-bottom: 1px solid #f1f1f1;
}
.brand-items{
  margin: 30px;
  border-radius: 5px;
  margin-right: 30px;
  border: 1px solid #ccc;
}
.pbrandname{
  margin-top: 20px;
  height: 30px;
  background-color: #F5F5F5;
  color: #000;
  text-align: center;
  padding: 5px 0px 5px 0px;
}
.brand-img {
  width: auto;
}
@media only screen 
and (min-device-width: 350px) 
and (max-device-width: 900px)  {
  .product-list{
    padding-left:0px;
  }
  /* For mobile phones: */
  .col-5 {
    width: 100%;
    padding-left: 25px;
  }
  .home-position {
    position: relative;
    margin-top: 40px;
  }
  .brand-items{
    text-align: center;
  }
  .brand-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
}