  .mainpage{
    height: 100%;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }
  .leftside{
    float: left;
    width: 25%;
    height: 100%;

  }
  .contactpage{
   
    width: 100%;
  }
  .page-content{
    float: left;
    margin-top: 40px;
    width: 60%;
  }
  .heading{
    font-size: 17px;
    color: #666666;
    margin-top: 20px;
  }
  h2{
    text-align: center;
  }
  h5{
    text-align: left;
  }
  .description{
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    line-height: 20px;
    text-align: justify;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
  }
  .address{
    font-size: 14px;
    font-weight: normal;
    width: 50%;
    line-height: 20px;
    text-align: justify;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
  }
  .sidemenu{
    height: 100%;
    float: left;
    display: flex;
  }
  .sidemenu ul{
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    list-style-type: none;
  }
  .leftlink{
    text-decoration: none;
    color: #666666;

  }
  @media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 900px)  {
    .leftside{
      float: left;
      width: 100%;
    }
    .page-content{
      float: left;
      width: 100%;
    }
    .heading {
      font-size: 17px;
      color: #666666;
      margin-top: 10px;
  }
    .mainpage{
      width: 100%;
      margin-top:15px;
      }
    .description{
      font-size: 12px;
      font-weight: normal;
      width: 100%;
      line-height: 20px;
      text-align: justify;
      color: #666666;
      font-family: Arial, Helvetica, sans-serif;
    }
  

  }