/* navigation styles */
.navigation{
  float: left;
  width: 100%;
}
.navigationbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  width: 300px;
}

.navi-border{
  border-top:1px solid #f1f1f1;
  border-bottom:1px solid #f1f1f1;
}
.navi-left{
  width: 30%;
  display: flex;
  float: left;
  
}
.navi-right{
  width: 50%;
  float: left;
}
.navi-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color:#000;
  font-size: 14px;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 40px;
}

.navi-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.basketimg{
  font-size: 12px;
  color: #999;
  width: 10%;
  float: right;
  padding-left: 40px;
  padding-top: 40px;  
}
.basketstyle{
  font-size: 12px;  
  color: #999;
  float: left;
}
.category-name{
  border-bottom:1px solid #f1f1f1;
  padding: 10px;
}
.basket-name{
  text-decoration: none;
  font-size: 14px;  
  color: #4CAF50;
  font-weight: bold;
  position: absolute;
}
.category-name:hover {
  background-color: #ccc;
  border-bottom: 1px solid #f1f1f1;
  font-weight: bold;
}

.navi-content a:hover {
 
  background-color: #ddd;   border-bottom: 1px solid #f1f1f1;
}

.navigation:hover .navi-content {display: block;}

.navigation:hover .navigationbtn {background-color: #3e8e41;} 



@media only screen 
and (min-device-width: 350px) 
and (max-device-width:430px)  {
  .navigation{
    float: left;
    width: 100%;
    z-index: 344;

  }
  
  .navigationbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
  }
  .navi-left {
    width: 100%;
    display: flex;
    float: left;
  }
  .navi-right{
    width: 50%;
    float: left;
    padding: 5px;
  }
  
  .navi-content {
    display: none;
    width: 100%;
    position: absolute;
    background-color: #fff;
    color:#000;
    font-size: 14px;
      min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .navi-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .category-name{
    border-bottom:1px solid #f1f1f1;
    padding: 10px;
  }
  .category-name:hover {
    background-color: #ccc;
    border-bottom: 1px solid #f1f1f1;
    font-weight: bold;
  }
  .basketimg {
    float: left;
    font-size: 12px;
    color: #999;
    padding-top: 0;
    width: 30%;
  }

}

@media only screen 
and (min-device-width: 350px) 
and (max-device-width: 900px)  {
  .navigationbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
  }
  .navi-left {
    width: 100%;
    display: flex;
    float: left;
  }
  .navi-right{
    width: 50%;
    float: left;
    padding: 5px;
  }
}  