.productmain{
width: 100%;
padding: 250px;
}
.pro-info{
  background-color:  #fff;
  margin: 90px;
}
.product-img{
  width: 50%;
  padding: 40px;
  border-right:2px dotted #ccc;
}
.prod-img{
  align-items: center;

}
.prod-details{
  width: 50%;
  padding: 40px;
  line-height: 30px;
  font-size: 16px;

}
.tax{
  font-size: 12px;
}
.select-btn{
  width: 100px;
}
.quantity{
  display: flex;
}
.quantitysize{
  width: 14% !important;
  text-align: center;
}
.content-info{
  display: flex;
  width: 100%;
}
.prod-description{
  font-size: 12px;
  color:#666;
}
.addtocartbtn{
  background-color: #4CAF50;;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  width: 180px;
  padding: 10px;
  border: #4CAF50 ; 
  border-radius: 5px;
  cursor: pointer;
}
[class*="col-"] {
  float: left !important;
  margin: 10px;
}
.cart-message{
  font-size: 12px;
  color:red;
}
@media only screen 
and (min-device-width: 350px) 
and (max-device-width: 900px)  {
  .product-list{
    padding-left:0px;
  }
  .product-img {
     width: 100%; 
     padding: 0px; 
     border-right: 0px
  }
  .pro-info {
    background-color: #fff;
    margin: 30px;
  }
  .prod-details {
    width: 100%;
    padding: 10px;
    line-height: 30px;
    font-size: 16px;
  }
  .content-info{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
}