* {
  box-sizing: border-box;
}

.row{
  padding:130px 0px 130px 50px;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}
.header{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-size: 20px; 
  display: flex;
  position: sticky;
  top:0;
  z-index: 60;
  border-bottom:1px solid #ccc;

}
.header-top{
  z-index: 300;
  display: flex;
  left: 0;
}
.top-header{
  float: left;
  color: red;
  font-size: 35px;
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #000000;
}
.top-header a{
text-decoration: none;
color:#ff0000;

}

.top-links{
  float: left;
  padding: 10px 10px 10px 10px;
  height: 100%;
  text-align: right;
  color:#000000;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 20%;
  text-transform: capitalize;
}
.headerlink{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: normal;
  display: inline;
  cursor: pointer;
  text-transform: capitalize;
}
.headerlink:hover{
  text-decoration: none;
  color: #4CAF50;
  font-size: 14px;
  font-weight: normal;
  display: inline;
  cursor: pointer;
  text-transform: capitalize;
}
.mobiletop-links{
  display: none;
}
.leftcontent{
  display: flex;
  float: left;
}
.position{
  position: relative;
}
.divider{
  border-bottom:1px solid #ccc;
}

.success-message{
  color: #4CAF50;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.error-message{
  color: red;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* Search*/
.search-box{
  width: 70%;
  padding-left: 120px;
}
.cart-basket{
  float: left;
    position: relative;
    text-align: center;
    top:20px;
  
}
.basket-items{
  position: relative;
  width: 100%;
  top: 11px;
  right: 16px;
  left: 15px;
  z-index: 20;
  font-size: 14px;
  font-weight: bold;
  color:#4CAF50;
  background-color: #fff;
}
@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 900px)  {
  .row{
    padding:0px;
  }
  
  .header{
    top: 0;
    background-color: white;
    font-size: 20px;  
    flex-direction: column;
  }
  .header-top{
    left: 0;
    height: 100px;
    width: 100%;
    display:flex;
    flex-direction: column;
  }
  .top-header{
    width: 100%;
    float: left;
    margin-bottom:0px;
  }
  .mobiletop-links{
    display:flex;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    padding: 13px;
    color:#2B2D2F;
    background-color: #ccc;
    border-bottom: 1px solid #fff;
  }
  .headerlink{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
  }

  .position{
    position: relative;
  }

  .search-box {
    width: 100%;
    height: 300%;
    padding-left: 0px;
  }
  .top-links{
    float: left;
    font-size: 12px;
    color: #999;
    padding-top: 0;
    width: 100%;
  }
}