/* .products-list{
  padding:80px 0px 80px 90px;
}

.productcontent{
  width: 100%;
  align-items: center;
}
.products-list::after {
  content: "";
  clear: both;
  display: block;
}
.col-5 {
  width: 22%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
} */
.products-main{
  margin-top: 100px;

}
.col-5 {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-decoration: none;
  font-size: 14px;

}
.product-parent{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap:wrap;
  width: 100%
}

.product-child{
  height: 230px;
  width: 250px;
  margin: 10px;
  border: 1px solid #666;
  border-radius: 5px;
}
.prod-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.product-name{
  line-height: 20px;
  height: 50px;
  color: #505050;
  font-size: 14px;
  background-color: #f0f0f0;
  text-align: center;
}
.text-style{
  text-decoration: none;
}
.noproducts{
  margin: 100px 0 100px 0;
  text-align: center;
}

@media only screen 
and (min-device-width: 350px) 
and (max-device-width: 900px)  {
  /*
  .product-list{
    padding-left:0px;
  }
  [class*="col-"] {
    width: 100%;
  }
  */
}