.rowmenu::after {
  content: "";
  clear: both;
  display: block;
}
.dashboardmain{
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  font-size: 25px;
}
.editmain{
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}
.cartmain{
  width: 100%;
  margin-bottom: 150px;
  float: left;
  display: flex;
}

.rowmenu{
  width: 70%;
}
.main{
  width: 100%;  
  float: left;
  display: flex;
}
.userleftmenu{
  width: 400px;  
  float: left;
}
.userrightmenu{
  margin-top: 20px;
  color: #666;
  font-size: 24px;
  font-weight: bold;
  width: 950px; 
}
.dashboard-title{
  background-color: #f1f1f1;
  padding-top: 10px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.user-details{
  font-size: 14px;
  line-height: 50px;
}
/* form fields */
.form-label{
  color: #000;
  font-size: 12px;
  padding: 5px;
  text-align: left;
}
.form-group{
  color: #000;
  font-size: 14px;  
}
input[type=text], input[type=email],
input[type=password]{
  width: 100%;
  height:35px;
}
.submitbutton {
  background-color: #4CAF50;
  width: 50%;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  align-items: center;

}
.cancelbutton {
  background-color: #ff0000;;
  width: 70%;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}
.pointer{
  cursor: pointer;

}
.accountexist{
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}
.col-1{
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 3px;
}
.user-heading{
  text-decoration: none;
  color: #666;
  font-size: 14px;
  font-weight: bold;
}
/*Edit profile */
.edit-form {
  border-radius: 5px;
  width: 70%;
  display: inline-block;  
  margin: 0 auto;
  padding: 3px 0px 30px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.readonly{
  background-color: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
}
.form-heading{
  color: black;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  align-items: center;

}
.cellsize{
  text-align: center;
  width: 100%;
  padding:10px 0px 10px 0px;
}
.register{
  padding: 0px 60px 0px 60px;
}
/* CART LIST styles*/
.Table
{
    display: table;
}
.Heading
{
    display: table-row;
    font-size: 14px;
    font-weight: bold;
    color: #999999;
    text-align: center;
    background-color: #f1f1f1;
}
.Row
{
    display: table-row;
}
.Cell
{
  display: table-cell;
  font-size: 14px;
  text-align: center;
  border-bottom:1px solid #f1f1f1;
  border-width: thin;
  width: 340px;
}
.delete-message{
  font-size: 12px;
  color:red;
  text-align: center;
}
.orderquantity{
  width:50px;
  text-align: center;
}
/*Checkout page*/
.delivery-address{
  color: #4CAF50;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 40px;
  width:700px;
}
.user-address{
  color: #666;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 20px;
}
.total{
  color: #666;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}
.checkout{
  font-size: 12px;
  font-weight: bold;
}
.order-now{
  float: left;
  width: 700px;
}
.orderbtn{
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid  #4CAF50;
  border-radius: 5px;
  cursor: pointer;

}
.checkoutbtn{
  background-color: #4CAF50;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid  #4CAF50;
  border-radius: 5px;
}

.logged-in{
  text-align: center;
  justify-content: center;
  margin: 100px;
  width: 100%;
}
@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 900px)  {

  .loginmain{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .form-heading{
    color: black;
    font-size: 12px;
    font-weight: bold;
  }
  .login-form {
    border-radius: 5px;
    width: 100%;
    height: 50%;
    display: inline-block;
    margin: 0 auto;
    padding: 3px 0px 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  .login{
  padding: 0px 60px 0px 60px;
  }
  /* form fields */
  .form-label{
    color: #000;
    font-size: 12px;
    padding: 5px;
    text-align: left;
  }
  .form-group{
    color: #000;
    font-size: 14px;  
  }
  .editmain {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
  }
  .hidediv{
    display: none;
  }
  .edit-form {
      border-radius: 5px;
      width: 100%;
      display: inline-block;
      margin: 0 auto;
      padding: 3px 0px 30px 0px;
      box-shadow: 0px;
  }
  .userleftmenu {
    width: 100%;
    float: left;
  }
  .rowmenu {
    width: 98%;
  }
  .userrightmenu {
    width: 100%;
  }
  .cartmain{
    width: 100%;  
    float: left;
    flex-direction: column;
  }
  .main{
    flex-direction: column;
  }
  .user-details {
    font-size: 14px;
    line-height: 50px;
    padding-left: 40px;
  }
}