.row-footer::after {
  content: "";
  clear: both;
  display: block;
}

.footer {
  left: 0;
  bottom: 0;
  color: white;
  text-align: left;  
  background-color: white;
  border-top: 1px dotted lightgrey;

}
.footermenu {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left; 
  height:13 0px; 
  background-color: white;
  border-top: 1px dotted lightgrey;
  display: flex;
}
.footermenu ul {
  list-style-type: none;
  line-height: 30px;
}
.footerlink {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.footerlink:hover{
  color: #4CAF50;
}
.copyright {
  background-color: #4CAF50;
  font-size: 12px;
  color: #fff;
  padding: 10px 10px 10px 50px;
}
.popular-items {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 30px;
  background-color: white;
  padding: 30px;
  width: 100%;
}
.popular-title {
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
  color: black;

}
.popularname {
  float: left;
  font-size: 14px;
  padding-left: 10px;
  color: black;

}
.menu-heading {
  list-style-type: none;
  color: #4CAF50;
  font-size: 16px;
}


.col-4 {
  width: 20%;
  line-height: 35px;
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 900px)  {
    .row-footer{
      padding-left:0px;
    }
    
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
  }
  .footermenu {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: left; 
    height:130px; 
    background-color: white;
    border-top: 1px dotted lightgrey;
    display: flex;
    padding-top: 10px;
  }
  .footermenu ul {
    margin:0px;
    list-style-type: none;
    line-height: 30px;
    width: 400px;
  }
  .footerlink {
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 30px;
  }
  
  .menu-heading {
    list-style-type: none;
    color: #4CAF50;
    font-size: 20px;
    line-height: 30px;
  }

  .popular-items {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      height: 80px;
      background-color: white;
  }
  .popular-title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
    padding: 10px;
    color: black;
    height: 30px;
    width: 100%;
}
  .popularname {
    float: left;
    font-size: 14px;
    padding: 5px 0 5px 30px;
    color: black;
}
.col-4 {
  width: 100%;
  line-height: 35px;
}
}