.search-form{
    margin-top:20px;
    width: 500px;
    height: 40px;
    border: 1px solid #4CAF50;

}
.submitbtn{
    background: #4CAF50;
    color: white;
    font-size: 17px;
    border: 1px solid  #4CAF50;;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    padding: 9px;
}

.prod-list{
    width: 535px;
    border: 1px solid #4CAF50;
    list-style-type: none;
    margin-top: -20px;
    padding: 20px;
    position: absolute;
    margin-left: -40px;
    background: #fff;

}   
.text-style{
    font-size: 14px;
    color: #4CAF50;
}
.categ-name{
    font-size: 12px;
    color: #ccc;
}
@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 900px){
    .search-form{
        width: 100%;
        height: 30px;
        border: 1px solid #4CAF50;   
        display: inline; 
        padding: 10px;
    }
    .prod-list{
        width: 100%;
        border: 1px solid #4CAF50;
        list-style-type: none;
        margin-top: -20px;
        padding: 20px;
        position: absolute;
        margin-left: -40px;
        background: #fff;
    
    } 
    .submitbtn{
        display: none;  
    }
}