.loginmain{
  width: 100%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 100px;
}
.form-heading{
  color: black;
  font-size: 32px;
  font-weight: bold;
}
.login-form {
  border-radius: 5px;
  width: 40%;
  height: 50%;
  display: inline-block;
  margin: 0 auto;
  padding: 3px 0px 30px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.login{
padding: 0px 60px 0px 60px;
}
/* form fields */
.form-label{
  color: #000;
  font-size: 12px;
  padding: 5px;
  text-align: left;
}
.form-group{
  color: #000;
  font-size: 14px;  
}
input[type=text], input[type=email],
input[type=password]{
  width: 100%;
  height:35px;
}
.submitbutton {
  background-color: #ff0000;
  width: 50%;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.accountexist{
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 900px)  {

  .loginmain{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .form-heading{
    color: black;
    font-size: 12px;
    font-weight: bold;
  }
  .login-form {
    border-radius: 5px;
    width: 100%;
    height: 50%;
    display: inline-block;
    margin: 0 auto;
    padding: 3px 0px 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  .login{
  padding: 0px 60px 0px 60px;
  }
  /* form fields */
  .form-label{
    color: #000;
    font-size: 12px;
    padding: 5px;
    text-align: left;
  }
  .form-group{
    color: #000;
    font-size: 14px;  
  }
}